/*Room name and room input container*/
.textInputField {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

.textInputField__name {
    width: 35%;
    word-wrap: break-word;
}