/* X-Small devices (portrait phones, less than 576px) */

/*outer most container*/
.createForm {
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 1.3rem;
    row-gap: 40px;
}

/*Form minus the clipBoard*/
.createForm__formContainer {
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;

}

/*Create button container*/
.createForm__createRoomButtonContainer {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 50px;
}

.createForm_clipBoardContainer {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    justify-content: space-between;
}

/*room ID text styles*/
.createForm__clipBoardText {
    display: flex;
    align-items: center;
}

/*contains loader and clipboard copyable content*/
.createForm__clipBoardCopy {
    height: fit-content;
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

/*Errors*/
.createForm__errorContainer {
    width: 100%;
    font-size: 0.8em;
    color: red;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.createForm__error--hide {
    display: none;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}