/*create room button*/
.buttom {
    font-size: 1.2rem;
    font-family: cursive;
    height: 100%;
    width: 150px;
    color: #000;
    background-color: #ffc107;
    border-color: #ffc107;
    border-radius: 8px;
    cursor: pointer;
}

.buttom:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}